{% extends 'main.html' %}
{%load static%}
{% block content %}
<form method="post">
    <h2 class="text__center" xmlns="http://www.w3.org/1999/html">
        Выгрузка отчета по работе ДСК ООО "ЩСУ"
    </h2>
    {% csrf_token %}
    <div class="input-group">
        <span class="input-group-text">Месяц / год</span>
        <select name="month" class="form-select" id="id_months">
            <option name="month" value="None" selected>Выберите месяц...</option>
            {% for key, value in months %}
            <option name="{{ value }}" value="{{ value }}">{{ key }}</option>
            {% endfor %}
        </select>
        <select name="year" class="form-select" id="id_years">
            <option name="year" value="{{ year }}" selected>{{ year }}</option>
            {% for y in range_years %}
            <option name="{{ y }}" value="{{ y }}">{{ y }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit"
            class="btn btn-outline-warning mt-3 shadow-sm button__width"
            data-bs-dismiss="modal">
        Выгрузить данные
    </button>
</form>
{% endblock %}