<div class="input-group mb-3 form-control text__center">
    <div class="input-group-text text__center">
        <input class="form-check-input mt-0"
               id="half_01"
               name="half_01"
               type="checkbox"
               value="6"
               aria-label="Checkbox for following text input">
    </div>
    <label style="margin-left: 25px; margin-top: 3px; font-size: 20px;">
        Первое полугодие
    </label>
</div>
<div class="input-group mb-3 form-control text__center">
    <div class="input-group-text text__center">
        <input class="form-check-input mt-0"
               id="half_02"
               name="half_02"
               type="checkbox"
               value="12"
               aria-label="Checkbox for following text input">
    </div>
    <label style="margin-left: 25px; margin-top: 3px; font-size: 20px;">
        Второе полугодие
    </label>
</div>
