<input type="number"
       id="{{ k }}_{{ id }}"
       name="{{ k }}_{{ id }}"
       value="{{ v }}"
       min="1"
       max="744"
       step="1"
       size="4"
       placeholder="ч"
       onchange="checkFilled_{{ k }}_{{ id }}();"
       class="form-control text__center"
       style="margin-left: 5px;"
       aria-label="Sizing example input"
       aria-describedby="inputGroup-sizing-sm"/>
<script>
    function checkFilled_{{ k }}_{{ id }}() {
        var inputVal = document.getElementById("{{ k }}_{{ id }}");
        if (inputVal.value == "") {
            inputVal.style.backgroundColor = "#DCDCDC";
        }
        else{
            inputVal.style.backgroundColor = "";
        }
        }
    checkFilled_{{ k }}_{{ id }}();
</script>