<div class="input-group mb-3 form-control text__center">
    <div class="input-group-text text__center">
        <input class="form-check-input mt-0"
               id="quar_01"
               name="quar_01"
               type="checkbox"
               value="3"
               aria-label="Checkbox for following text input">
    </div>
    <label style="margin-left: 25px; margin-top: 3px; font-size: 16px;">
        Первый квартал
    </label>
</div>
<div class="input-group mb-3 form-control text__center">
    <div class="input-group-text text__center">
        <input class="form-check-input mt-0"
               id="quar_02"
               name="quar_02"
               type="checkbox"
               value="6"
               aria-label="Checkbox for following text input">
    </div>
    <label style="margin-left: 25px; margin-top: 3px; font-size: 16px;">
        Второй квартал
    </label>
</div>
<div class="input-group mb-3 form-control text__center">
    <div class="input-group-text text__center">
        <input class="form-check-input mt-0"
               id="quar_03"
               name="quar_03"
               type="checkbox"
               value="9"
               aria-label="Checkbox for following text input">
    </div>
    <label style="margin-left: 25px; margin-top: 3px; font-size: 16px;">
        Третий квартал
    </label>
</div>
<div class="input-group mb-3 form-control text__center">
    <div class="input-group-text text__center">
        <input class="form-check-input mt-0"
               id="quar_04"
               name="quar_04"
               type="checkbox"
               value="12"
               aria-label="Checkbox for following text input">
    </div>
    <label style="margin-left: 25px; margin-top: 3px; font-size: 16px;">
        Четвертый квартал
    </label>
</div>
